body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    padding-bottom: 60px; 
}


header {
    background: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header ul {
    list-style: none;
    padding: 0;
}

header ul li {
    display: inline;
    margin: 0 10px;
}

header a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    text-align: center;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-items: center;
    height: 1vh; 
    text-align: center; 
    padding: 20px; 
}
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    width: 30%;
    margin-bottom: 20px;
}

.project img {
    max-width: 100%;
    height: auto;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}




@media (max-width: 600px) {
    .project {
        width: 100%;
    }
}
